@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary: #ffc500;
    --default-padding: 1rem;

}

body {
    margin: 0;
    padding-top: 7.75rem;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    background-color: #000/*vermelho / verde / azul / transparencia -0 - F*/;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem ;
    
    color: #FFF;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: .875rem;
    margin-right: 3rem; /* pra saber o rem basta dividir por 16 o px que vc quer */
    text-transform: uppercase;
}
.navbar__links a {
    color: #FFF;
    text-decoration: none;   
    font-weight: 300;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-treadmusic {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;   
    text-transform: uppercase;
    text-align: right;
}

.logo-tread__subtitle {
    font-size: 1.2rem;
    font-weight: 300; 
}

.copy-primary {
    color: var(--color-primary);
}

#slider {
    background-color: #000;
    color: #FFF;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 1.5rem;
    left: 50vw;
}

.slide__copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.slide__copy h2 {
    font-size: 5.25rem;
    text-transform: uppercase; 
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1rem 1rem;
    color: var(--color-primary);
    border: 0.125rem solid #FFF;
    background: unset;
    border-radius: 5rem;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;    
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #FFF;
}





